<section id="about">
    <div class="container">
        <h2><strong>{{'about.title' | translate}}</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row">
            <div class="col-lg-4 col-md-12 text-center" data-aos="fade-right" data-aos-duration="1500">
                <picture>
                    <img src="https://media.licdn.com/dms/image/D4E03AQEk468J4jShMA/profile-displayphoto-shrink_800_800/0/1697046335217?e=1715212800&v=beta&t=3RHyOcSF8ARR2mHBm7BtbhqZygXIY_8s4By2YKtz97A" alt="profile photo" class="img-fluid">
                </picture>
                <div class="d-flex justify-content-center">
                    <a class="btn-social-media" href="https://www.linkedin.com/in/alealvarezv/" rel="tooltip"
                        target="_blank" title="{{'about.followMeOn' | translate}} Linkedin">
                        <i class="fa fa-linkedin fa-lg "></i>
                    </a>
                    <a class="btn-social-media btn-default btn-round btn-lg btn-icon"
                        href="https://github.com/ManuelAlejandro94" rel="tooltip" target="_blank"
                        title="{{'about.followMeOn' | translate}} GitHub">
                        <i class="fa fa-github fa-lg "></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-8  col-md-12 pt-4 pt-lg-0" data-aos="fade-left" data-aos-duration="1500">
                <h3>{{'about.jobTitle' | translate}}</h3>
                <p class="font-italic">
                    {{'about.introductionOfMe' | translate}}
                    <br>{{'about.passionateAboutDevelopment' | translate}} <b>Back-End</b> {{'about.and' | translate}} <b>Front-End</b>.
                </p>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                                        <fa-icon [icon]="mapMarker"></fa-icon>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-10">
                                        <strong> {{'about.mobility' | translate}}</strong>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                                        <fa-icon [icon]="building"></fa-icon>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-10">
                                        <strong> {{'about.currentCityCountry' | translate}}</strong>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                                        <fa-icon [icon]="email"></fa-icon>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-10">
                                        <strong>
                                            <a href="mailto:manuel_ale94@outlook.com">{{'manuel_ale94@outlook.com'}}</a>
                                        </strong>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                                        <fa-icon [icon]="birthday"></fa-icon>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-10">
                                        <strong> {{yearsBirthday}} {{'about.years' | translate}}</strong>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                                        <fa-icon [icon]="badge"></fa-icon>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-10">
                                        <strong> {{'about.graduation' | translate}}</strong>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                                        <fa-icon [icon]="home"></fa-icon>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-10">
                                        <strong> {{'about.myResearch' | translate}} </strong>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <p>
                    {{'about.researchDescription' | translate}}
                </p>
            </div>
        </div>
    </div>
</section>
