<div class="container">
    <div class="mt-4 pt-4">
        <h2>{{'working.title' | translate}}</h2>
        <div>
            <span class="fa-stack fa-10x">
                <i class="fa-regular fa-circle fa-stack-2x"></i>
                <i class="fa-solid fa-stack-1x fa-hourglass-start fa-spin"></i>
            </span>
        </div>
        <h3>{{'working.subtitle' | translate}}</h3>
        <p>{{'working.paraph1' | translate}}
            <span><strong>{{count}}</strong></span>
        </p>
        <p>{{'working.paraph2' | translate}}</p>
        <a routerLink="home">{{'working.linkRedirect' | translate}}</a>
    </div>
</div>